In [1]:
import requests
import pandas as pd

In [2]:
pip install lxml

Requirement already satisfied: lxml in c:\programdata\anaconda3\envs\pydata\lib\site-packages (4.6.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from bs4 import BeautifulSoup

In [4]:
pd.read_html

<function pandas.io.html.read_html(io: Union[ForwardRef('PathLike[str]'), str, IO[~T], io.RawIOBase, io.BufferedIOBase, io.TextIOBase, _io.TextIOWrapper, mmap.mmap], match: Union[str, Pattern] = '.+', flavor: Union[str, NoneType] = None, header: Union[int, Sequence[int], NoneType] = None, index_col: Union[int, Sequence[int], NoneType] = None, skiprows: Union[int, Sequence[int], slice, NoneType] = None, attrs: Union[Dict[str, str], NoneType] = None, parse_dates: bool = False, thousands: Union[str, NoneType] = ',', encoding: Union[str, NoneType] = None, decimal: str = '.', converters: Union[Dict, NoneType] = None, na_values=None, keep_default_na: bool = True, displayed_only: bool = True) -> List[pandas.core.frame.DataFrame]>

In [5]:
url = "https://finance.naver.com/item/sise.nhn?code=005930"

In [6]:
header = {'user-agent': 
          'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36'}

In [7]:
r = requests.get(url)

In [8]:
pd.read_html(r.text)[0]

,0,1,2
0,"전일 81,500 81,500","고가 82,40082,400 (상한가 105,500105,500 )","거래량 9,558,801 9,558,801"
1,"시가 81,00081,000","저가 81,00081,000 (하한가 57,100 )","거래대금 782,398 782,398 백만"