In [1]:
import requests
import pandas as pd

In [2]:
pip install lxml

Requirement already satisfied: lxml in c:\programdata\anaconda3\envs\pydata\lib\site-packages (4.6.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pd.read_html

<function pandas.io.html.read_html(io: Union[ForwardRef('PathLike[str]'), str, IO[~T], io.RawIOBase, io.BufferedIOBase, io.TextIOBase, _io.TextIOWrapper, mmap.mmap], match: Union[str, Pattern] = '.+', flavor: Union[str, NoneType] = None, header: Union[int, Sequence[int], NoneType] = None, index_col: Union[int, Sequence[int], NoneType] = None, skiprows: Union[int, Sequence[int], slice, NoneType] = None, attrs: Union[Dict[str, str], NoneType] = None, parse_dates: bool = False, thousands: Union[str, NoneType] = ',', encoding: Union[str, NoneType] = None, decimal: str = '.', converters: Union[Dict, NoneType] = None, na_values=None, keep_default_na: bool = True, displayed_only: bool = True) -> List[pandas.core.frame.DataFrame]>

In [5]:
url = "https://finance.naver.com/item/sise.nhn?code=005930"

In [6]:
header = {'user-agent': 
          'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36'}

In [7]:
r = requests.get(url)

In [8]:
pd.read_html(r.text)[0]

,0,1,2
0,"전일 81,500 81,500","고가 82,40082,400 (상한가 105,500105,500 )","거래량 9,558,801 9,558,801"
1,"시가 81,00081,000","저가 81,00081,000 (하한가 57,100 )","거래대금 782,398 782,398 백만"

In [9]:
total = []
for x in range(1, 11):
    r = requests.get(url.format(x), headers=header)
    total.append(pd.read_html(r.text)[0].dropna())

In [10]:
stock = pd.concat(total)

In [11]:
stock.reset_index(drop=True, inplace=True)

In [15]:
stock

,0,1,2
0,"전일 81,500 81,500","고가 82,40082,400 (상한가 105,500105,500 )","거래량 12,655,624 12,655,624"
1,"시가 81,00081,000","저가 81,00081,000 (하한가 57,100 )","거래대금 1,035,489 1,035,489 백만"
2,"전일 81,500 81,500","고가 82,40082,400 (상한가 105,500105,500 )","거래량 12,655,624 12,655,624"
3,"시가 81,00081,000","저가 81,00081,000 (하한가 57,100 )","거래대금 1,035,489 1,035,489 백만"
4,"전일 81,500 81,500","고가 82,40082,400 (상한가 105,500105,500 )","거래량 12,655,624 12,655,624"
5,"시가 81,00081,000","저가 81,00081,000 (하한가 57,100 )","거래대금 1,035,489 1,035,489 백만"
6,"전일 81,500 81,500","고가 82,40082,400 (상한가 105,500105,500 )","거래량 12,655,624 12,655,624"
7,"시가 81,00081,000","저가 81,00081,000 (하한가 57,100 )","거래대금 1,035,489 1,035,489 백만"
8,"전일 81,500 81,500","고가 82,40082,400 (상한가 105,500105,500 )","거래량 12,655,624 12,655,624"
9,"시가 81,00081,000","저가 81,00081,000 (하한가 57,100 )","거래대금 1,035,489 1,035,489 백만"
10,"전일 81,500 81,500","고가 82,40082,400 (상한가 105,500105,500 )","거래량 12,655,624 12,655,624"
11,"시가 81,00081,000","저가 81,00081,000 (하한가 57,100 )","거래대금 1,035,489 1,035,489 백만"
12,"전일 81,500 81,500","고가 82,40082,400 (상한가 105,500105,500 )","거래량 12,655,624 12,655,624"
13,"시가 81,00081,000","저가 81,00081,000 (하한가 57,100 )","거래대금 1,035,489 1,035,489 백만"
14,"전일 81,500 81,500","고가 82,40082,400 (상한가 105,500105,500 )","거래량 12,655,624 12,655,624"
15,"시가 81,00081,000","저가 81,00081,000 (하한가 57,100 )","거래대금 1,035,489 1,035,489 백만"
16,"전일 81,500 81,500","고가 82,40082,400 (상한가 105,500105,500 )","거래량 12,655,624 12,655,624"
17,"시가 81,00081,000","저가 81,00081,000 (하한가 57,100 )","거래대금 1,035,489 1,035,489 백만"
18,"전일 81,500 81,500","고가 82,40082,400 (상한가 105,500105,500 )","거래량 12,655,624 12,655,624"
19,"시가 81,00081,000","저가 81,00081,000 (하한가 57,100 )","거래대금 1,035,489 1,035,489 백만"

In [12]:
post_url = "https://api.finance.naver.com/siseJson.naver?"
payload = {'symbol': '005930',
			'requestType': '1',
			'startTime': '20171013',
			'endTime': '20180628',
			'timeframe': 'day'}
r = requests.post(post_url, data=payload, headers=header)

In [13]:
r.status_code

200

In [14]:
r.text

'\n [[\'날짜\', \'시가\', \'고가\', \'저가\', \'종가\', \'거래량\', \'외국인소진율\'],\n\n\t\n\t\n\t\t\n["20171013", 54540, 54840, 53780, 54000, 252033, 53.36],\n\t\t\n["20171016", 53980, 54860, 53760, 53920, 195399, 53.36],\n\t\t\n["20171017", 54019, 55380, 54000, 54800, 212156, 53.39],\n\t\t\n["20171018", 54820, 55240, 54039, 54760, 202215, 53.39],\n\t\t\n["20171019", 54699, 54699, 52980, 52980, 242174, 53.38],\n\t\t\n["20171020", 52800, 54100, 52800, 53840, 160541, 53.41],\n\t\t\n["20171023", 54600, 54640, 54000, 54300, 166221, 53.44],\n\t\t\n["20171024", 54699, 54780, 54040, 54040, 116121, 53.43],\n\t\t\n["20171025", 54040, 54420, 53699, 53900, 117657, 53.44],\n\t\t\n["20171026", 53720, 53900, 52400, 52400, 195531, 53.44],\n\t\t\n["20171027", 52400, 53320, 52140, 53080, 147850, 53.42],\n\t\t\n["20171030", 53780, 54320, 53699, 54040, 163923, 53.44],\n\t\t\n["20171031", 54060, 55440, 53500, 55080, 267631, 53.48],\n\t\t\n["20171101", 57500, 57500, 56179, 57220, 290205, 53.5],\n\t\t\n["20171102", 57500, 57519, 56760, 57060, 214421, 53.77],\n\t\t\n["20171103", 57059, 57140, 55860, 56380, 198716, 53.71],\n\t\t\n["20171106", 56380, 56500, 55340, 56380, 180019, 53.72],\n\t\t\n["20171107", 56380, 56920, 55860, 56100, 149291, 53.71],\n\t\t\n["20171108", 56100, 57060, 55860, 56760, 170404, 53.71],\n\t\t\n["20171109", 56920, 56920, 55899, 56340, 239881, 53.69],\n\t\t\n["20171110", 55800, 56540, 55780, 56400, 134976, 53.67],\n\t\t\n["20171113", 56400, 56799, 56100, 56380, 176133, 53.68],\n\t\t\n["20171114", 56380, 56740, 55920, 55920, 134500, 53.64],\n\t\t\n["20171115", 55920, 56319, 55320, 55340, 176339, 53.61],\n\t\t\n["20171116", 55440, 56000, 55400, 55780, 152814, 53.62],\n\t\t\n["20171117", 56399, 56880, 55820, 55820, 214663, 53.66],\n\t\t\n["20171120", 55900, 55980, 55200, 55200, 189455, 53.65],\n\t\t\n["20171121", 55400, 55839, 55280, 55280, 206494, 53.63],\n\t\t\n["20171122", 55980, 56200, 55620, 55960, 159059, 53.6],\n\t\t\n["20171123", 55960, 55979, 55020, 55300, 125458, 53.57],\n\t\t\n["20171124", 55300, 55500, 55180, 55460, 90724, 53.54],\n\t\t\n["20171127", 55360, 55360, 52640, 52640, 362578, 53.45],\n\t\t\n["20171128", 52699, 53280, 51720, 53280, 269988, 53.43],\n\t\t\n["20171129", 53200, 53240, 52500, 52600, 191805, 53.37],\n\t\t\n["20171130", 50800, 51860, 50200, 50800, 592683, 53.25],\n\t\t\n["20171201", 50800, 51780, 50800, 50840, 257372, 53.21],\n\t\t\n["20171204", 50840, 51340, 50020, 51340, 297301, 53.19],\n\t\t\n["20171205", 50600, 51300, 50280, 51260, 186531, 53.17],\n\t\t\n["20171206", 51260, 51560, 50020, 50020, 217784, 53.11],\n\t\t\n["20171207", 50040, 50980, 50020, 50740, 221312, 53.05],\n\t\t\n["20171208", 51360, 52000, 51040, 52000, 225809, 53.07],\n\t\t\n["20171211", 52000, 52040, 51500, 51780, 162517, 53.01],\n\t\t\n["20171212", 51820, 52100, 51660, 52100, 175301, 53.02],\n\t\t\n["20171213", 52100, 52100, 51100, 51320, 226674, 52.95],\n\t\t\n["20171214", 51320, 52280, 51060, 51060, 406208, 52.99],\n\t\t\n["20171215", 51240, 51480, 50520, 50620, 298571, 52.95],\n\t\t\n["20171218", 50620, 51240, 50620, 51200, 147005, 52.91],\n\t\t\n["20171219", 51540, 52080, 51520, 51560, 239572, 52.9],\n\t\t\n["20171220", 51500, 51760, 50820, 50880, 201611, 52.84],\n\t\t\n["20171221", 51000, 51060, 49100, 49140, 312486, 52.78],\n\t\t\n["20171222", 49400, 49960, 49240, 49700, 223993, 52.79],\n\t\t\n["20171226", 49760, 50100, 48200, 48200, 320797, 52.75],\n\t\t\n["20171227", 48960, 49560, 48460, 49360, 214872, 52.74],\n\t\t\n["20171228", 49560, 50960, 49500, 50960, 179709, 52.74],\n\t\t\n["20180102", 51380, 51400, 50780, 51020, 169485, 52.75],\n\t\t\n["20180103", 52540, 52560, 51420, 51620, 200270, 52.81],\n\t\t\n["20180104", 52120, 52180, 50640, 51080, 233909, 52.82],\n\t\t\n["20180105", 51300, 52120, 51200, 52120, 189623, 52.83],\n\t\t\n["20180108", 52400, 52520, 51500, 52020, 167673, 52.84],\n\t\t\n["20180109", 51460, 51720, 49980, 50400, 360272, 52.77],\n\t\t\n["20180110", 50500, 50520, 48640, 48840, 371336, 52.69],\n\t\t\n["20180111", 48200, 49260, 48020, 48240, 502476, 52.65],\n\t\t\n["20180112", 48240, 48480, 46760, 48200, 545409, 52.51],\n\t\t\n["20180115", 48800, 48980, 47920, 48540, 201920, 52.52],\n\t\t\n["20180116", 48760, 50140, 48620, 50000, 407793, 52.55],\n\t\t\n["20180117", 50020, 50020, 49060, 49620, 221061, 52.57],\n\t\t\n["20180118", 50020, 50640, 49820, 49900, 296977, 52.58],\n\t\t\n["20180119", 50380, 50380, 49040, 49320, 184399, 52.56],\n\t\t\n["20180122", 48640, 48680, 47960, 48240, 250418, 52.51],\n\t\t\n["20180123", 48660, 49160, 48300, 49160, 270654, 52.51],\n\t\t\n["20180124", 48860, 49700, 48560, 49340, 191010, 52.48],\n\t\t\n["20180125", 49220, 50360, 49160, 50260, 223207, 52.49],\n\t\t\n["20180126", 50500, 50780, 49840, 50780, 207002, 52.5],\n\t\t\n["20180129", 51200, 51480, 50900, 51220, 236776, 52.5],\n\t\t\n["20180130", 50440, 50640, 49780, 49800, 245691, 52.45],\n\t\t\n["20180131", 50020, 54140, 49600, 49900, 1293626, 52.26],\n\t\t\n["20180201", 50620, 50960, 49720, 49820, 552189, 52.19],\n\t\t\n["20180202", 49380, 49400, 47700, 47700, 585207, 52.06],\n\t\t\n["20180205", 46500, 48320, 46000, 47920, 567158, 51.95],\n\t\t\n["20180206", 46600, 47920, 46580, 47420, 388129, 51.91],\n\t\t\n["20180207", 48240, 48260, 45800, 45800, 468961, 52.16],\n\t\t\n["20180208", 46120, 46620, 45980, 46000, 465021, 52.19],\n\t\t\n["20180209", 44440, 45180, 44420, 44700, 349300, 52.15],\n\t\t\n["20180212", 45100, 46320, 45040, 45720, 315099, 52.18],\n\t\t\n["20180213", 46200, 48060, 46200, 47540, 378465, 52.23],\n\t\t\n["20180214", 48080, 49100, 47940, 49000, 378118, 52.27],\n\t\t\n["20180219", 49800, 49800, 47860, 48380, 307069, 52.25],\n\t\t\n["20180220", 48040, 48160, 47220, 47400, 202452, 52.23],\n\t\t\n["20180221", 47280, 47580, 46840, 47280, 257604, 52.22],\n\t\t\n["20180222", 47260, 47260, 46760, 46760, 177399, 52.22],\n\t\t\n["20180223", 46760, 47800, 46760, 47220, 248466, 52.2],\n\t\t\n["20180226", 47280, 47560, 47080, 47380, 191213, 52.18],\n\t\t\n["20180227", 48360, 48380, 47380, 47380, 196611, 52.17],\n\t\t\n["20180228", 47380, 48100, 47000, 47060, 303247, 52.18],\n\t\t\n["20180302", 46580, 46800, 46000, 46020, 265310, 52.12],\n\t\t\n["20180305", 45820, 46160, 45080, 45200, 282019, 52.09],\n\t\t\n["20180306", 45920, 47100, 45820, 47020, 308467, 52.11],\n\t\t\n["20180307", 48200, 48900, 47220, 48620, 428541, 52.2],\n\t\t\n["20180308", 49200, 49480, 48080, 49200, 389273, 52.23],\n\t\t\n["20180309", 49440, 50540, 49240, 49740, 286088, 52.25],\n\t\t\n["20180312", 50560, 50780, 49580, 49740, 173779, 52.26],\n\t\t\n["20180313", 50760, 51660, 50360, 51660, 401974, 52.37],\n\t\t\n["20180314", 51020, 52000, 51000, 51760, 254265, 52.38],\n\t\t\n["20180315", 52000, 52020, 51020, 51540, 177649, 52.39],\n\t\t\n["20180316", 51220, 51420, 50240, 51140, 243698, 52.41],\n\t\t\n["20180319", 50620, 51340, 50440, 50740, 164377, 52.4],\n\t\t\n["20180320", 50700, 51200, 50100, 51200, 163865, 52.39],\n\t\t\n["20180321", 51780, 51780, 51060, 51060, 178104, 52.38],\n\t\t\n["20180322", 51060, 51780, 51040, 51780, 169082, 52.39],\n\t\t\n["20180323", 50340, 50720, 49600, 49720, 297099, 52.36],\n\t\t\n["20180326", 49420, 50280, 49040, 50280, 201155, 52.35],\n\t\t\n["20180327", 50320, 50460, 49080, 49980, 237480, 52.34],\n\t\t\n["20180328", 49100, 49100, 48340, 48700, 303189, 52.31],\n\t\t\n["20180329", 48700, 49560, 48320, 49040, 201340, 52.28],\n\t\t\n["20180330", 49080, 49900, 49080, 49220, 155542, 52.25],\n\t\t\n["20180402", 49000, 49220, 48500, 48540, 142313, 52.23],\n\t\t\n["20180403", 47880, 48140, 47280, 48120, 255365, 52.22],\n\t\t\n["20180404", 48160, 48260, 46920, 46920, 247684, 52.18],\n\t\t\n["20180405", 47400, 49380, 47340, 48740, 264912, 52.17],\n\t\t\n["20180406", 48000, 48580, 47400, 48400, 250654, 52.16],\n\t\t\n["20180409", 48260, 49440, 48200, 49200, 199008, 52.15],\n\t\t\n["20180410", 48540, 49220, 48040, 48880, 219687, 52.13],\n\t\t\n["20180411", 49900, 49900, 48600, 48860, 201022, 52.14],\n\t\t\n["20180412", 49440, 49440, 48880, 49000, 249325, 52.17],\n\t\t\n["20180413", 49600, 50180, 49400, 49800, 205566, 52.2],\n\t\t\n["20180416", 50320, 50600, 49860, 50340, 157549, 52.22],\n\t\t\n["20180417", 50240, 50540, 49820, 49980, 155440, 52.2],\n\t\t\n["20180418", 51000, 51360, 50580, 51360, 269252, 52.25],\n\t\t\n["20180419", 52000, 52980, 51540, 52780, 343811, 52.32],\n\t\t\n["20180420", 51800, 52260, 51420, 51620, 235220, 52.27],\n\t\t\n["20180423", 51000, 52080, 51000, 51900, 232380, 52.24],\n\t\t\n["20180424", 51840, 51860, 50080, 50460, 315406, 52.17],\n\t\t\n["20180425", 49220, 50500, 49220, 50400, 332292, 52.07],\n\t\t\n["20180426", 50420, 52160, 50400, 52140, 360931, 52.1],\n\t\t\n["20180427", 53380, 53639, 52440, 53000, 606216, 52.06],\n\t\t\n["20180430", 0, 0, 0, 53000, 0, 52.06],\n\t\t\n["20180502", 0, 0, 0, 53000, 0, 52.06],\n\t\t\n["20180503", 0, 0, 0, 53000, 0, 0.0],\n\t\t\n["20180504", 53000, 53900, 51800, 51900, 39565391, 52.79],\n\t\t\n["20180508", 52600, 53200, 51900, 52600, 23104720, 52.81],\n\t\t\n["20180509", 52600, 52800, 50900, 50900, 16128305, 52.78],\n\t\t\n["20180510", 51700, 51700, 50600, 51600, 13905263, 52.77],\n\t\t\n["20180511", 52000, 52200, 51200, 51300, 10314997, 52.77],\n\t\t\n["20180514", 51000, 51100, 49900, 50100, 14909272, 52.74],\n\t\t\n["20180515", 50200, 50400, 49100, 49200, 18709146, 52.72],\n\t\t\n["20180516", 49200, 50200, 49150, 49850, 15918683, 52.74],\n\t\t\n["20180517", 50300, 50500, 49400, 49400, 10365440, 52.7],\n\t\t\n["20180518", 49900, 49900, 49350, 49500, 6706570, 52.69],\n\t\t\n["20180521", 49650, 50200, 49100, 50000, 9020998, 52.69],\n\t\t\n["20180523", 50600, 52000, 50400, 51800, 17095490, 52.7],\n\t\t\n["20180524", 52000, 52000, 51100, 51400, 8289275, 52.69],\n\t\t\n["20180525", 51000, 52800, 50800, 52700, 15207266, 52.76],\n\t\t\n["20180528", 52500, 53000, 52000, 52300, 9787820, 52.76],\n\t\t\n["20180529", 52200, 52500, 51300, 51300, 8480437, 52.75],\n\t\t\n["20180530", 51300, 51500, 49100, 49500, 20498098, 52.68],\n\t\t\n["20180531", 50400, 50800, 49850, 50700, 63491109, 53.03],\n\t\t\n["20180601", 50500, 51700, 49950, 51300, 13038499, 53.05],\n\t\t\n["20180604", 50800, 51200, 50700, 51100, 9767171, 53.07],\n\t\t\n["20180605", 51100, 51400, 50400, 51300, 9144100, 53.09],\n\t\t\n["20180607", 51800, 51800, 50500, 50600, 13590016, 53.07],\n\t\t\n["20180608", 50200, 50400, 49600, 49650, 16951706, 53.04],\n\t\t\n["20180611", 49750, 50300, 49350, 49900, 10571312, 53.01],\n\t\t\n["20180612", 49700, 49800, 49250, 49400, 12110569, 52.99],\n\t\t\n["20180614", 49000, 49000, 48200, 48200, 20971729, 52.89],\n\t\t\n["20180615", 48500, 48700, 47650, 47650, 17080892, 52.8],\n\t\t\n["20180618", 47600, 47650, 46200, 46600, 16661870, 52.75],\n\t\t\n["20180619", 47200, 47350, 46500, 47000, 15217971, 52.73],\n\t\t\n["20180620", 47450, 47600, 46850, 47000, 12959316, 52.7],\n\t\t\n["20180621", 47900, 47900, 47050, 47050, 10015541, 52.7],\n\t\t\n["20180622", 47000, 47250, 46200, 47250, 10298006, 52.69],\n\t\t\n["20180625", 47050, 47050, 46150, 46650, 10587711, 52.66],\n\t\t\n["20180626", 45900, 47300, 45900, 47000, 11223166, 52.65],\n\t\t\n["20180627", 47450, 48500, 47000, 47950, 15274752, 52.69],\n\t\t\n["20180628", 46850, 47150, 46600, 46800, 12784800, 52.62]\n\t\t\n\t\n\n]\n'

### 2021년 4월 KosPI 종목 한달 치 수집###

In [23]:
post_url = "http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"

In [24]:
header = {'user-agent': 
          'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36'}

In [ ]:
payload = {'symbol': '005930',
        'requestType': '1',
        'startTime': '20171013',
        'endTime': '20180628',
        'timeframe': 'day'}

In [20]:
r = requests.post(krx_post, data=krx_payload, headers=header)

In [ ]:
import json

In [22]:
text = json.loads(r.text)

[]

In [ ]:
r.json()

In [ ]:
total = []
for x in range(1, 11):
    r = requests.get(url.format(x), headers=header)
    total.append(pd.read_html(r.text)[0].dropna())

In [ ]:
stock = pd.concat(total)

In [ ]:
stock.reset_index(drop=True, inplace=True)

In [ ]:
stock